.home-container {
  padding: 20px;
  text-align: center;
  min-height: 100vh; /* Ensure the container takes up full height */
  display: flex;
  flex-direction: column;
  background-color: #fffdf3;
}

.art-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  flex-grow: 1; /* Make sure the art grid grows and fills available space */
}

.art-card {
  background: rgb(236, 236, 225);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.art-card:hover {
  transform: scale(1.05);
}

.art-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
  display: block; /* Ensures image doesn't leave empty space */
}

.art-card h3 {
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.art-card a {
  text-decoration: none; /* Removes the underline */
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination .btn {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #b9b087;
  color: black;
  border: none;
  cursor: pointer;
}

.pagination .page-number {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
}

/* Fix footer to always stay at the bottom */
footer {
  margin-top: auto; /* Push the footer to the bottom */
}

/* Adjust for small screens */
@media (max-width: 600px) {
  .art-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
